{{#if userSelected}}
  {{username}} is assigned
{{else}}
  No one is assigned
{{/if}}

<button type="button" class="btn btn-default btn-sm">
  <i class="fa fa-cog"></i>
  <i class="fa fa-caret-down"></i>
</button>

